.App {
    margin: 0;
    /* border: solid red 2px; */
  }
  
  .header {
    /* border: solid lightblue 2px; */
    background: white;
    border-bottom: solid #193C5C 2px;
  }
  
  img {
    margin: 15px;
    /* border: solid yellow 2px; */
    height: 100px;
  }
  
  h1 {
    margin: 0;
    /* border: solid purple 2px; */
    display: inline;
    text-align: center;
  }