.App {
    margin: 0;
  }
  
  .header {
    background: white;
    border-bottom: solid #193C5C 2px;
  }
  
  img {
    margin: 15px;
    height: 100px;
  }
  
  h1 {
    margin: 0;
    display: inline;
    text-align: center;
  }