.ContactForm {
    background: #9CB6CE;
    padding: 15px 0;
  }
  
  form {
    display: flex;
    justify-content: center;
  }

  label, .input-field, .submit {
    margin: 0 10px;
    border-radius: 4px;
  }

  .input-field {
      width: 40%;
      border: 1px solid #A0B7CD;
      color: #18293C;
      padding: 0 16px;
  }

  .submit {
      border: none;
      background: #4B6983;
      color: white;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 16px;
  }