.item-input {
    width: 80%;
    border: 1px solid #F3F9FB;
    border-bottom: 1px solid #16283D;
    color: #18293C;
    padding: 0 16px;
    margin: 5px 15px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    background: #F3F9FB;
}