.List {
    margin: 25px auto;
    padding: 10px;
    background: #F3F9FB;
    width: 75%;
    border-radius: 4px;
  }

  button {
    border: none;
    background: #178574;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    border-radius: 4px;
  }