body {
  margin: 0;
  background: #16283D;
  font-family: 'Nunito Sans', sans-serif;
}

.create-error {
  border: solid #cc0000 5px;
  background: #e57f7f;
  border: none;
  color: #cc0000;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  border-radius: 4px;
  width: 75%;
  margin: 25px auto;
  padding: 4px;
}